class mem_env extends uvm_env;
    `uvm_component_utils(mem_env);

    function new (string name="mem_env", uvm_component parent);
        super.new(name,parent);
    endfunction

    mem_agent mem_agt;

    function void build_phase(uvm_phase phase);
        super.build_phase(phase);

            mem_agt = mem_agent :: type_id :: create ("mem_agt",this);   
            
    endfunction

endclass
